/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,500'); */

@font-face {
    font-family: 'suisse';
    src: url('font/SuisseIntl-Regular.otf');
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    /* margin: 15px;*/
    margin: 0px;
    padding: 0px;
    /* font-family: 'Libre Barcode 39', cursive; */
    /*font-family: 'IBM Plex Mono', monospace;/*
    /*font-family: 'Archivo Black', sans-serif;*/
    font-family: 'suisse', Helvetica, sans-serif;
    /* font-family: sans-serif; */
    background-color: white;
    font-weight: 400;
    color: #000;
    /* text-align: center; */
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: orangered;
}

.marquee-offset {
    /* position: absolute; */
    width: 120%;
    left: -10%;
    letter-spacing: 3px;
}

.container {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "head" "main" "foot";
    width: 100%;
    height: 100vh;
}

/* qui cambi le impostazioni per il titolo */

.head, .foot {
    font-size: 0.75rem;
}

.head {
    grid-area: head;
    font-weight: 400;
    /* font-size: 40px; */
    /* border-bottom: solid 2px #000; */
    text-align: center;
    /* color: white */
}

.foot {
    grid-area: foot;
    font-weight: 400;
    text-align: center;
    /* border-top: solid 2px #000;*/
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.loaded-img {
    grid-column: 1 / 5;
    grid-row: 1 / 8;
    height: 75%;
    width: auto;
    max-width: 1000px;
    margin: auto;
}

.about {
    padding: 1.5rem 0.75rem 1.5rem 0.75rem;
    grid-column: 1 / 5;
    grid-row: 1 / 7;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    /* Old Chrome, Safari and Opera */
    /* -webkit-column-count: 3;
    -webkit-column-gap: 40px;
    -moz-column-count: 3;
    -moz-column-gap: 40px;
    column-count: 3;
    column-gap: 40px; */
}

.about-main {
    grid-column: 1 / 2;
    grid-row: 1 / 9;
    padding-right: 6rem;
    line-height: 1.5rem;
}

.about-proc{
    padding-right: 3.25rem;
    grid-column: 2 / 3;
    grid-row: 1 / 9;
}

.about a {
    color: blue;
}

.about a:hover {
    color: orangered;
}

.about-small {

    grid-column: 1 / 3;
    grid-row: 8 / 10;
    font-size: 0.55rem;
    padding-left: 0.75rem;
    /* transform: rotate(90deg) */
}

/* 
to adress single cell of the main grid use the following 
classes: they describe the position in the grid by column and row number
*/

.c1r4 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

.c2r4 {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

.c3r4 {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
}

.c4r4 {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
}

.description {
    grid-column: 1 / 4;
    grid-row: 1 / 7;
    padding: 1rem;
    font-size: 1.2rem;
}

.level {
    z-index: 999999;
    grid-column: 1 / 3;
    grid-row: 1 / 7;
    padding-left: 0.75rem;
    /* add background to cover start button */
    /* background-color: aquamarine; */
    /* display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0.75rem 0 0.75rem;
}

.pragrphs {
    /* width: 100%; */
    /* padding: 5px; */
    grid-row: 1 / 5;
}

.btns {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.hidden-main, .hidden-footer {
    visibility: collapse;
}

.setting {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "cat item1 item2 item3";
    grid-row: 3 / 4;
}

.item-1 {
    grid-area: item1;
}

.item-2 {
    grid-area: item2;
}

.item-3 {
    grid-area: item3;
}

.setting-cat {
    grid-area: cat;
}

.recap, .links {
    grid-row: 1 / 7;
    display: grid;
}

.recap {
    grid-column: 1 / 5;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 25% 1fr;
}

.recap_title {}

.recap_content {}

.links {
    grid-column: 1 / 5;
    grid-template-columns: repeat(4, 1fr);
}

.links-txt {
    font-size: 1.3rem;
    padding: 0 0.75rem 0 0.75rem;
}

.links-big {
    font-family: 'suisse', sans-serif;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: #000;

    font-style: normal;
}

.links-small{
    /* background-color: #fff; */
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #000;
}

#links-a, #links-b {
    padding: 0 1.45rem 0 1.45rem;
}

#links-a a, #links-b a {
    color: blue;
    /* text-decoration: underline 2px; */
    border-bottom: solid 3px;
    line-height: 2rem;
}

#links-a a:hover, #links-b a:hover {
    color: orangered;
    /* border-bottom: solid 2px; */
    /* text-decoration: overline; */
}

#links-b {}

.timer {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    background-color: #000;
    color: white;
    margin: 0 auto;
    width: 99%;
    height: 50px;
    border-radius: 25px;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 10px;
}

.big-btn {
    grid-column: 2 / 4;
    grid-row: 5 / 7;
    text-align: center;
    background-color: white;
}

#home {
    display: none;
}

.info {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    padding: 1rem;
    line-height: 1.75rem;
    text-transform: capitalize;
    display: grid;
    grid-template-columns: max-content 80%;
    grid-template-rows: repeat(6, 1fr);
}

.info-left, .info-right {
    height: 1.5rem;
}

.info-left {
    letter-spacing: 2px;
    /*  */
    /* text-decoration: underline; */
}

.motivation-text {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    font-style: italic;
    font-size: 1.5rem;
}

.motivation-text a, .finish-text a {
    color: orangered;
}

.finish-text {
    display: none;
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    /* border-radius: 50%; */
}

.finish-text p {
    background-color: white;
    padding: 1rem;
}

/* .info_text {
    font-size: 2rem;
    font-family: monospace;
} */

/* set item in the center of the div 
    set light or dark color for divs
*/

.center-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.dark {
    background-color: #000;
    color: white;
}

.lighten {
    border: solid 2px #aaa !important;
    color: #aaa;
}

.btn, .info-text {
    margin: auto;
    width: 85%;
    height: auto;
    min-height: 50px;
    text-align: center;
    border: solid 2px #000;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 1.25rem;
}

.btn .radio {
    /* background-color: transparent; */
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    /* border: solid 2px blueviolet; */
    border-radius: 25px;
}

.radio:hover, .btn:hover {
    cursor: pointer;
    /* cursor: url(img/cursor_manina.png), pointer; */
    /* background-color: lightgray; */
    color: orangered;
}

/* don't touch this!!!! */

.btn input[type=radio] {
    display: none;
}

.btn input[type=radio]:checked+.radio {
    /* 
        qui setti come deve essere visualizzata una opzione selezionata
    */
    /* background-color: rgb(231, 19, 19); */
    color: orangered;
    /* text-decoration: underline 3px orangered */
    /* text-shadow: yellowgreen 3px 3px 3px */
}

.category {
    width: 90%;
    height: auto;
    min-height: 50px;
    background-color: white;
    text-align: center;
}

/* 
this is for the quit page on the randomizer
*/

.quit {
    display: none;
    position: fixed;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: white;
}

.quit-text {
    grid-column: 1 / 5;
    grid-row: 4 / 6;
    text-align: center;
    padding: 0 5% 0 5%;
    font-style: italic;
    font-size: 1.5rem;
}

.quit-btn-right {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
}

.quit-btn-left {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

/* PUBLISH BUTTON */

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file+label {
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
}

.input-file:focus+label, .input-file+label:hover {
    cursor: pointer;
    /* background-color: red; */
}

.warning {
    z-index: 999999;
    display: none;
    position: fixed;
    font-size: 2.5rem;
    background-color: #ddde;
}

.warning-msg {
    padding: 1rem;
    text-align: center;
    /* width: 75%;
    height: 75%; */
}

@media only screen and (max-width: 999px) {
    .warning {
        display: flex;
        width: 100vw;
        height: 100vh;
    }
}