/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,500'); */

@font-face {
    font-family: 'suisse';
    src: url('font/SuisseIntl-Regular.otf');
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Libre Barcode 39', cursive; */
    /*font-family: 'IBM Plex Mono', monospace;/*
    /*font-family: 'Archivo Black', sans-serif;*/
    font-family: 'suisse', Helvetica, sans-serif;
    /* font-family: sans-serif; */
    background-color: #ddd;
    font-weight: 400;
    color: #000;
    /* text-align: center; */
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "head" "main" "foot";
    width: 100%;
    height: 100vh;
}

/* qui cambi le impostazioni per il titolo */

.head, .foot {
    font-size: 0.75rem;
}

.head {
    grid-area: head;
    font-weight: 400;
    /* font-size: 40px; */
    border-bottom: solid 2px #000;
    /* color: white */
}

.foot {
    grid-area: foot;
    border-top: solid 2px #000;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

/* 
to adress single cell of the main grid use the following 
classes: they describe the position in the grid by column and row number
*/

.c1r4 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

.c2r4 {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

.c3r4 {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
}

.c4r4 {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
}

.description {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    padding: 1rem;
}

.level {
    z-index: 999999;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    /* add background to cover start button */
    /* background-color: aquamarine; */
    /* display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-direction: row;
}

.pragrphs {
    width: 50%;
    padding: 5px;
}

.btns {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.hidden-main, .hidden-footer {
    visibility: collapse;
}

.setting {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "cat item1 item2 item3";
    grid-row: 3 / 4;
}

.item-1 {
    grid-area: item1;
}

.item-2 {
    grid-area: item2;
}

.item-3 {
    grid-area: item3;
}

.setting-cat {
    grid-area: cat;
}

.recap, .links{
    grid-row: 1 / 7;
    display: grid;
}

.recap{
    grid-column: 1 / 5;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 25% 1fr;
}

.recap_title{

}

.recap_content{

}

.links{
    grid-column: 1 / 4;
    grid-template-columns: repeat(4, 1fr);
}
.links-txt{
    padding: 1rem;
}
#links-a{

}
#links-b{

}
.timer {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    background-color: #000;
    color: #ddd;
    margin: auto;
    width: 99%;
    height: 50px;
    border-radius: 25px;
}

.info {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    padding: 1rem;
    line-height: 1.75rem;
}

/* .info_text {
    font-size: 2rem;
    font-family: monospace;
} */

/* set item in the center of the div */

.center-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.btn, .info-text {
    margin: auto;
    width: 85%;
    height: auto;
    min-height: 50px;
    text-align: center;
    border: solid 2px #000;
    border-radius: 25px;
    text-transform: uppercase;
}

.dark{
    background-color: #000;
    color: #ddd;
}

.btn .radio {
    /* background-color: transparent; */
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    /* border: solid 2px blueviolet; */
    border-radius: 25px;
}

.radio:hover, .btn:hover {
    cursor: pointer;
    /* cursor: url(img/cursor_manina.png), pointer; */
    /* background-color: lightgray; */
    color: orangered;
}

.btn input[type=radio] {
    display: none;
}

.btn input[type=radio]:checked+.radio {
    /* 
        qui setti come deve essere visualizzata una opzione selezionata
    */
    /* background-color: rgb(231, 19, 19); */
    color: orangered;
    /* text-decoration: underline 3px orangered */
    text-shadow: #000 3px 3px 3px
}

.category {
    width: 90%;
    height: auto;
    min-height: 50px;
    background-color: whitesmoke;
    text-align: center;
}